services:
  mysql:
    image: mysql:8.0
    container_name: mysql-vanguard
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: vanguard_db
      MYSQL_ROOT_HOST: '%'
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql-data:
